In [9]:
from pyspark.sql import SparkSession
from pyspark.sql.types import StringType
from pyspark.sql.functions import split
from pyspark.sql.functions import col, when 

spark = SparkSession \
    .builder \
    .appName("Python Spark SQL basic example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [2]:
df = spark.read.load("data/timesData.csv",
                     format="csv", sep=",", inferSchema="true", header="true")
df = df.select("world_rank", "university_name", "country", "total_score", "num_students", "international_students", "female_male_ratio", "year")
df = df.filter(df["total_score"] != "-")

In [34]:
split_col = split(df['female_male_ratio'], ':')
df = df.withColumn('female_ratio', split_col.getItem(0) / 100)
df = df.withColumn('male_ratio', split_col.getItem(1) / 100)
df = df.drop('female_male_ratio')

+----------+--------------------+--------------------+-----------+------------+----------------------+----+------------+----------+
|world_rank|     university_name|             country|total_score|num_students|international_students|year|female_ratio|male_ratio|
+----------+--------------------+--------------------+-----------+------------+----------------------+----+------------+----------+
|         1|  Harvard University|United States of ...|       96.1|      20,152|                   25%|2011|        null|      null|
|         2|California Instit...|United States of ...|       96.0|       2,243|                   27%|2011|        0.33|      0.67|
|         3|Massachusetts Ins...|United States of ...|       95.6|      11,074|                   33%|2011|        0.37|      0.63|
|         4| Stanford University|United States of ...|       94.3|      15,596|                   22%|2011|        0.42|      0.58|
|         5|Princeton University|United States of ...|       94.2|       7,929|                   27%|2011|        0.45|      0.55|
|         6|University of Cam...|      United Kingdom|       91.2|      18,812|                   34%|2011|        0.46|      0.54|
|         6|University of Oxford|      United Kingdom|       91.2|      19,919|                   34%|2011|        0.46|      0.54|
|         8|University of Cal...|United States of ...|       91.1|      36,186|                   15%|2011|         0.5|       0.5|
|         9|Imperial College ...|      United Kingdom|       90.6|      15,060|                   51%|2011|        0.37|      0.63|
|        10|     Yale University|United States of ...|       89.5|      11,751|                   20%|2011|         0.5|       0.5|
|        11|University of Cal...|United States of ...|       87.7|      38,206|                   15%|2011|        0.52|      0.48|
|        12|University of Chi...|United States of ...|       86.9|      14,221|                   21%|2011|        0.42|      0.58|
|        13|Johns Hopkins Uni...|United States of ...|       86.4|      15,128|                   23%|2011|         0.5|       0.5|
|        14|  Cornell University|United States of ...|       83.9|      21,424|                   19%|2011|        0.48|      0.52|
|        15|ETH Zurich – Swis...|         Switzerland|       83.4|      18,178|                   37%|2011|        0.31|      0.69|
|        15|University of Mic...|United States of ...|       83.4|      41,786|                   16%|2011|        0.48|      0.52|
|        17|University of Tor...|              Canada|       82.0|      66,198|                   15%|2011|        null|      null|
|        18| Columbia University|United States of ...|       81.0|      25,055|                   28%|2011|        null|      null|
|        19|University of Pen...|United States of ...|       79.5|      20,376|                   20%|2011|        0.51|      0.49|
|        20|Carnegie Mellon U...|United States of ...|       79.3|      11,885|                   35%|2011|        0.39|      0.61|
+----------+--------------------+--------------------+-----------+------------+----------------------+----+------------+----------+
only showing top 20 rows

In [39]:
filtro = df.groupBy(df["university_name"]).agg({"total_score":"avg"}).withColumnRenamed("avg(total_score)", "media")
filtro.show()

+----------+--------------------+--------------------+-----------+------------+----------------------+----+------------+----------+
|world_rank|     university_name|             country|total_score|num_students|international_students|year|female_ratio|male_ratio|
+----------+--------------------+--------------------+-----------+------------+----------------------+----+------------+----------+
|         1|  Harvard University|United States of ...|       96.1|      20,152|                   25%|2011|        null|      null|
|         2|California Instit...|United States of ...|       96.0|       2,243|                   27%|2011|        0.33|      0.67|
|         3|Massachusetts Ins...|United States of ...|       95.6|      11,074|                   33%|2011|        0.37|      0.63|
|         4| Stanford University|United States of ...|       94.3|      15,596|                   22%|2011|        0.42|      0.58|
|         5|Princeton University|United States of ...|       94.2|       7,929|                   27%|2011|        0.45|      0.55|
|         6|University of Cam...|      United Kingdom|       91.2|      18,812|                   34%|2011|        0.46|      0.54|
|         6|University of Oxford|      United Kingdom|       91.2|      19,919|                   34%|2011|        0.46|      0.54|
|         8|University of Cal...|United States of ...|       91.1|      36,186|                   15%|2011|         0.5|       0.5|
|         9|Imperial College ...|      United Kingdom|       90.6|      15,060|                   51%|2011|        0.37|      0.63|
|        10|     Yale University|United States of ...|       89.5|      11,751|                   20%|2011|         0.5|       0.5|
|        11|University of Cal...|United States of ...|       87.7|      38,206|                   15%|2011|        0.52|      0.48|
|        12|University of Chi...|United States of ...|       86.9|      14,221|                   21%|2011|        0.42|      0.58|
|        13|Johns Hopkins Uni...|United States of ...|       86.4|      15,128|                   23%|2011|         0.5|       0.5|
|        14|  Cornell University|United States of ...|       83.9|      21,424|                   19%|2011|        0.48|      0.52|
|        15|ETH Zurich – Swis...|         Switzerland|       83.4|      18,178|                   37%|2011|        0.31|      0.69|
|        15|University of Mic...|United States of ...|       83.4|      41,786|                   16%|2011|        0.48|      0.52|
|        17|University of Tor...|              Canada|       82.0|      66,198|                   15%|2011|        null|      null|
|        18| Columbia University|United States of ...|       81.0|      25,055|                   28%|2011|        null|      null|
|        19|University of Pen...|United States of ...|       79.5|      20,376|                   20%|2011|        0.51|      0.49|
|        20|Carnegie Mellon U...|United States of ...|       79.3|      11,885|                   35%|2011|        0.39|      0.61|
+----------+--------------------+--------------------+-----------+------------+----------------------+----+------------+----------+
only showing top 20 rows

+--------------------+------------------+
|     university_name|             media|
+--------------------+------------------+
| New York University| 70.03333333333333|
|  Cornell University| 81.69999999999999|
|University of St ...| 55.71666666666666|
|University of Kon...| 46.86666666666667|
|   Yonsei University| 46.73333333333333|
|Pennsylvania Stat...| 62.68333333333333|
|    Ghent University| 55.68333333333334|
|Erasmus Universit...|56.666666666666664|
|University of Col...|              52.3|
|Scuola Superiore ...|              50.2|
|University Colleg...|             49.72|
|Newcastle University|              48.1|
|Washington Univer...| 69.03333333333333|
|Lancaster University|             52.25|
|Stockholm University| 53.45000000000001|
|  Indiana University|             50.92|
|Queen’s Universit...|              48.8|
|University of Oxford|              93.3|
|Tokyo Institute o...| 52.71999999999999|
|     Yale University| 88.35000000000001|
+--------------------+------------------+
only showing top 20 rows

In [42]:
filtro = filtro.withColumn("categoria", \
                                        when(col("media") >= 91, "A") \
                                       .when(col("media") >= 81, "B") \
                                       .when(col("media") >= 71, "C") \
                                       .when(col("media") >= 51, "D") \
                                       .otherwise("E"))

filtro.show()

+--------------------+------------------+---------+
|     university_name|             media|categoria|
+--------------------+------------------+---------+
| New York University| 70.03333333333333|        D|
|  Cornell University| 81.69999999999999|        B|
|University of St ...| 55.71666666666666|        D|
|University of Kon...| 46.86666666666667|        E|
|   Yonsei University| 46.73333333333333|        E|
|Pennsylvania Stat...| 62.68333333333333|        D|
|    Ghent University| 55.68333333333334|        D|
|Erasmus Universit...|56.666666666666664|        D|
|University of Col...|              52.3|        D|
|Scuola Superiore ...|              50.2|        E|
|University Colleg...|             49.72|        E|
|Newcastle University|              48.1|        E|
|Washington Univer...| 69.03333333333333|        D|
|Lancaster University|             52.25|        D|
|Stockholm University| 53.45000000000001|        D|
|  Indiana University|             50.92|        E|
|Queen’s Universit...|              48.8|        E|
|University of Oxford|              93.3|        A|
|Tokyo Institute o...| 52.71999999999999|        D|
|     Yale University| 88.35000000000001|        B|
+--------------------+------------------+---------+
only showing top 20 rows

In [ ]:
df = df.join(filtro, df.university_name == filtro.university_name, 'inner') \
.select(df.world_rank, df.university_name, df.country, df.total_score, df.num_students, df.international_students, df.female_ratio, df.male_ratio, df.year, filtro.media, filtro.categoria)

df.write.save("tabela.csv", format="csv")